<section data-ng-controller="MyCalendarsController" data-ng-init="findOne()">
    <h1 data-ng-bind="myCalendar.summary"></h1>
    <table class="table table-bordered">
        <tr ng-repeat="event in events.items">
            <td>{{(event.start.date) || (event.start.dateTime | date : 'short')}} - {{(event.end.date) || (event.end.dateTime | date : 'short')}}</td>
            <td><a href="{{event.htmlLink}}">{{event.summary}}</a></td>
            <!--<small><pre>{{event | json}}</pre></small>-->
        </tr>
    </table>
</section>
